<widget id="A6964151488804" version="0.0.1">
    <name>APICloud</name>
    <description>
        a sample APICloud app.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="bounces" value="true" />
    <feature name="pushGeTui">
        
        <param name="android_appkey" value="9bNpVNvVrX63nA7AgiPeiA" />
        <param name="android_appid" value="WDRtfrJBuS8vdjf1UHmAS9" />
        <param name="android_appsecret" value="0ZiKIxPyCL6pOpTz3ygZH2" />
        <param name="android_groupid" value="" />
    </feature>
</widget>
