<widget id="A0000000000001"  version="0.0.1">
    <name>ModuleDemo</name>
    <description>getui push demo.</description>
    <author email="dails@getui.com" href="https://www.getui.com">
        developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="bounces" value="true" />
    <preference name="debug" value="true" />
    <preference name="customRefreshHeader" value="cusHeader" />
</widget>
