<widget id="A0000000000001"  version="0.0.1">
    <name>ModuleDemo</name>
    <description>getui push demo.</description>
    <author email="dails@getui.com" href="https://www.getui.com">
        developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="bounces" value="true" />
    <preference name="debug" value="true" />
    <preference name="customRefreshHeader" value="cusHeader" />
    <feature name="pushGeTui">
        <param name="ios_appkey" value="xCGkZR1bCp6gscLUB20Dl4" />
        <param name="ios_appid" value="G5lfFkQZ008VoZUXydA2r2" />
        <param name="ios_appsecret" value="RuxlC8ExWA7T4NFoJhQFd6" />
        <param name="android_appkey" value="aiMe49ehZa7IK8sevOTiY8" />
        <param name="android_appid" value="h5AH1rK4KW7vfFGZjT7fG" />
        <param name="android_appsecret" value="wx7779c7c063a9d4d9" />
        <param name="android_groupid" value="" />
    </feature>
</widget>
